<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이마티스에 대한 dtd 규격으로 만들어야됨 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.chldbwls92.spring.test.database.repository.StoreRepository">
	
	<select id="selectStoreList"
	resultType="com.chldbwls92.spring.test.database.domain.Store">
		SELECT
			`id`
			, `name`
			, `phoneNumber`
			, `address`
			, `businessNumber`
			, `introduce`
			, `createdAt`
			, `updatedAt`
		FROM
			`store`
	</select>


</mapper>